.Button
{
    border:none;
    text-align: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    height:10%;
    width:20%;
    /* background: #e0e0e0; */
    padding: 2%;
    transition: 1s;
    margin-right: 120%;
    margin-top: -5%;
}


.Button:hover
{
    transition: 2s;
    border-radius: 5px;
background: #e0e0e0;
box-shadow:  11px 11px 14px #c7c7c7,
             -11px -11px 14px #f9f9f9;
}
