.App {
  text-align: center;
}




body::-webkit-scrollbar {
  display: none;
}

.font1
{
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.5rem;
  line-height: 0.98;
  letter-spacing: -3px;
  text-align: left;
}

.font2
{
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8rem !important;
  line-height: 1;
  text-align: left;
}

.font3
{
  text-align: left;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}




body{
  overflow-x: hidden;
  background: #e0e0e0;
}


@media(max-height:865px)
{

  .font1
  {
    font-size: 9.0rem;
  }

  .font2
  {
    font-size: 4.4rem !important;
  }  

}


@media(max-height:745px)
{

  .font1
  {
    font-size: 8.5rem;
  }

  .font2
  {
    font-size: 4.2rem !important;
  }  

}



@media(max-width:1823px)
{
  .font1
  {
    font-size: 9.0rem;
  }

  .font2
  {
    font-size: 4.4rem !important;
  }
}

@media(max-width:1722px)
{
  .font1
  {
    font-size: 8.5rem;
  }

  .font2
  {
    font-size: 4rem !important;
  }
}


@media(max-width:1620px)
{
  .font1
  {
    font-size: 8.0rem;
  }

  .font2
  {
    font-size: 3.6rem !important;
  }
}

@media(max-width:1519px)
{
  .font1
  {
    font-size: 7.0rem;
  }

  .font2
  {
    font-size: 3.2rem !important;
  }
}

@media(max-width:1449px)
{
  .font1
  {
    font-size: 6.5rem;
  }

  .font2
  {
    font-size: 2.8rem !important;
  }
}

@media(max-width:1339px)
{

  .font1
  {
    font-size: 6.0rem;
  }

  .font2
  {
    font-size: 2.6rem !important;
  }

}

@media(max-width:1229px)
{

  .font1
  {
    font-size: 5.8rem;
  }

  .font2
  {
    font-size: 2.6rem !important;
  }

}


@media(max-width:1184px)
{

  .font1
  {
    font-size: 5.6rem;
  }

  .font2
  {
    font-size: 2.5rem !important;
  }

}


@media(max-width:1139px)
{

  .font1
  {
    font-size: 5.4rem;
  }

  .font2
  {
    font-size: 2.5rem !important;
  }

}



@media(max-width:1095px)
{
  .font1
  {
    font-size: 5.0rem;
  }

  .font2
  {
    font-size: 2.4rem !important;
  }
}

  

@media(max-width:1007px)
{

  .font1
  {
    font-size: 4.8rem;
  }

  .font2
  {
    font-size: 2.3rem !important;
  }  

}


@media(max-width:1008px)
{

  .font1
  {
    font-size: 4.6rem;
  }

  .font2
  {
    font-size: 2.2rem !important;
  }  

}







/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width:1310px)
{
  .font3
  {
    font-size:0.9rem;
  }
}

@media (max-width:1160px)
{
  .font3
  {
    font-size:0.83rem;
  }
}


@media (max-width:961px)
{
  .font3
  {
    font-size:0.7rem;
  }
}