.App {
  text-align: center;
}




body::-webkit-scrollbar {
  display: none;
}

.font1
{
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5rem;
  line-height: 0.98;
  letter-spacing: -3px;
  text-align: left;
}

.font2
{
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing:0.5px ;
  line-height: 0.98;
  text-align: left;
}

.font3
{
  text-align: left;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  line-height: 17px;
  word-spacing: 1px;
  letter-spacing: -0.5px;
}




body{
  overflow-x: hidden;
  background: #e0e0e0;
}







@media(max-width:1599px)
{
.font1
{
  font-size: 6.2rem;
}
}


@media(max-width:1529px)
{
.font1
{
  font-size: 6.0rem;
}
}

@media(max-width:1479px)
{
.font1
{
  font-size: 5.9rem;
}
}

@media(max-width:1430px)
{
.font1
{
  font-size: 5.7rem;
}
.font2
{
  font-size: 2.8rem;
}
}


@media(max-width:1390px)
{
.font1
{
  font-size: 5.5rem;
}
.font2
{
  font-size: 2.8rem;
}
}


@media(max-width:1339px)
{
.font1
{
  font-size: 5.3rem;
}
.font2
{
  font-size: 2.6rem;
}
}

@media(max-width:1283px)
{
.font1
{
  font-size: 5.1rem;
}
.font2
{
  font-size: 2.6rem;
}
}


@media(max-width:1239px)
{
.font1
{
  font-size: 4.9rem;
}
.font2
{
  font-size: 2.4rem;
}
}



@media(max-width:1193px)
{
.font1
{
  font-size: 4.6rem;
}
.font2
{
  font-size: 2.2rem;
}
}



@media(max-width:1105px)
{
.font1
{
  font-size: 4.4rem;
}
.font2
{
  font-size: 2.2rem;
}
}



@media(max-width:1056px)
{
.font1
{
  font-size: 4.1rem;
}
.font2
{
  font-size: 2.0rem;
}
}

@media(max-width:1000px)
{
  .font1
  {
    font-size: 3.9rem;
  }
  .font2
  {
    font-size: 1.8rem;
  }
  }

/* @media(max-width:1339px)
{
.font1
{
  font-size: 5.1rem;
}
.font2
{
  font-size: 2.6rem;
}
}  */
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */






/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width:1310px) 
 {
  .font3
  {
    font-size:0.9rem;
  }
}

@media (max-width:1160px)
{
  .font3
  {
    font-size:0.83rem;
  }
}


@media (max-width:961px)
{
  .font3
  {
    font-size:0.7rem;
  }
} 