.LogoCard
{
    height:15vh;
    width:15vw;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  9px 9px 10px #cecece,
                 -9px -9px 10px #f2f2f2;
    padding: 2%;
    display: grid;
    place-items: center;
    transition: 2s;
}


.LogoCard:hover
{
transition: 1s;
background-color: #f1c40f;
box-shadow:  40px 40px 46px #9d9d9d,
             -40px -40px 46px #ffffff;
transform: scale(1.1);
}



.Logo
{
    height:12vh;
    width:10vw;
}


/* @media (max-width:1406px)
{
    .LogoCard
    {
        margin-top: 5.5%;
    }
}


@media (max-width:1406px)
{
    .LogoCard
    {
        margin-top: 6.2%;
    }
}


@media (max-width:1140px)
{
    .LogoCard
    {
        margin-top: 7%;
    } 
}

@media (max-width:1030px)
{
    .LogoCard
    {
        margin-top: 7.7%;
    } 
}



@media (max-width:1310px)
{
    .Logo
    {
        height:10vh;
        width:8vw;
        margin-top: 14%;
    }
} */