.Nav
{
    height:13vh;
    width:80vw;
    margin-top: 2.5%;
    margin-left: 10%;
    z-index: 2;
    position: fixed;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow:  7px 7px 5px #cccccc,
             -7px -7px 5px #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.NavButton
{
    position: relative;
    width:8vw;
    height:4.5vh !important;
    border: none;
    text-align: center;
    background: #e0e0e0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    transition: 2s;
    font-size: 0.8rem;
}

a
{
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
}

.NavButton:hover
{
    border-radius: 5px;
    box-shadow:  5px 5px 10px #c1c1c1,
    -5px -5px 10px #ffffff !important;
    transition: 1s;
}


/* @media(max-width:1339px)
{
    .Nav
    {
        height:10vh;
        margin-top: 4.5%;
    }
}


@media(max-width:1139px)
{
    .Nav
    {
        height:7vh;
        margin-top: 4.5%;
    }
} */



@media(max-width:1586px)
{
    .NavButton
    {
        font-size: 0.75rem ;
    }
}

@media(max-width:1260px)
{
    .NavButton
    {
        width:9vw;
    }
}


@media(max-width:1170px)
{
    .NavButton
    {
        width:10vw;
    }
}


@media(max-width:1065px)
{
    .NavButton
    {
        width:11vw;
    }
}

@media(max-height:810px)
{
    .NavButton
    {
        height:5.5vh !important;
    }
}