.Section
{
    /* width:auto; */
    height:100vh;
    background: #e0e0e0;

}

.MiniSeection
{
    width: 80%;
    height:70%;
    position: relative;
    top:27%;
    left:9.5%;
    /* border:0.1rem solid red; */
    display: flex;
    justify-content: space-between;
    
}

 .Heading
{
    width:60%;
    /* text-align: center; */
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
    /* padding-right:1%; */
    /* padding-right: 2%; */
    border-radius: 20px;

    background: #e0e0e0;
    box-shadow: inset 6px 6px 5px #b8b8b8,
                inset -6px -6px 5px #ffffff;

    transition: 1s;
    }

.Heading:hover
{
   background-color: #f1c40f;
    transition: 1s;
    span
    {
       transition: 2s;
       color:#e0e0e0;
    }       
}

.Lottie1
{
    /* border: 1px solid black; */
    width:40%;
    margin-top: 2%;
    /* padding-left: 12%; */
    position: relative;
    left:5%;
} 


span
{
    color:#f1c40f;
    /* font-size: 4rem; */
}

.TypeHead
{
    position: relative;
    top:-13.5%;
}

.Head
{
    position: relative;
    top:3%;
}




.Section2
{
    /* height: 100vh; */
    /* width:auto; */
    background: #e0e0e0;
    margin-top: 10%;
    /* position: absolute; */
    /* top:30vh; */
}

.MiniSection2
{
    width: 80%;
    height:70%;
    position: relative;
    top:27%;
    left:9.5%;
    /* border:0.1rem solid red; */
    display: flex;
    justify-content: space-between;
}



.MiniSection2Text
{
    width:55%;
    padding-left: 2%;
    padding-right: 1%;
    /* padding-left: 5%; */
    padding-top: 2%;
    transition: 2s;
    border-radius: 30px;
                 background: #e0e0e0;
                 box-shadow: inset 6px 6px 5px #b8b8b8,
                             inset -6px -6px 5px #ffffff;

         span
         {
            transition:1s;
         }                    

    /* border: 0.1rem solid red; */
}


.MiniSection2Text:hover
{
   transition: 2s;
    background: #f1c40f;
    /* box-shadow:  8px 8px 8px #bebebe, */
                 /* -8px -8px 8px #ffffff; */


                 span
                 {
                    transition: 2s;
                    color:#e0e0e0;
                 }             


}


.MiniSection2Heading
{
    /* font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    line-height: 1;
    text-align: left; */
}

span
{
    color:#f1c40f;
    /* font-size: 4rem; */
}



.MiniSection2Para,.MiniSection2Para1
{

    position: relative;
    top:-5%;
    padding-right: 2%;
}



.MiniSection2Image
{
    width:40%;
    border-radius: 30px;
    overflow: hidden;
    margin-left: -2.5%;
    margin-top: 1%;
}




.Section3
{
    height:65vh;
    width:74%;
    margin-top:12%;
    margin-left: 9.5%;
    /* border:0.1rem solid red; */
    border-radius: 30px;
    display: flex;
    background: #f1c40f;
    box-shadow:  8px 8px 8px #c5c5c5,
             -8px -8px 8px #fbfbfb;
    padding:3%;
}


.Section3Info
{
width:60%;
border-radius: 30px;
box-shadow: inset 8px 8px 8px #d4ac0d,
            inset -8px -8px 8px #ffdc11;
padding: 2%;
}

.Section3Para
{
    margin-top: -4%;
}

.Section3SVG
{
width:40%;
margin-top: 3.5%;
position: relative;
left:2%;
}

.Section3Button
{
    border:none;
    background: #f1c40f;
    transition: 2s;
    border-radius: 5px;
    height:5vh;
    width:8vw;
    text-align: center;
    margin-left: -80%;
}

.Section3Button:hover
{   
    transition: 1s;
    box-shadow:  8px 8px 8px #d4ac0d,
             -8px -8px 8px #ffdc11;

}

.Section4
{
    /* height:250vh; */
    /* width:auto; */
    /* border:0.1rem soild red; */
    /* background: #e0e0e0; */
    margin-top: 2%;
}

.Section4Heading
{
    position: absolute;
    margin-top:12% ;
    margin-left: 41%;
}

.CardCollection
{
    display: flex;
    position: relative;
    top:40vh;
    /* padding-left: 10%; */
    /* border:0.1rem dotted black; */
    justify-content: space-evenly;
}




.Section5Head
{
    margin-top: 32% !important;
    text-align: center;
}

.Logos
{
    display: flex;
    gap:4rem;
    /* padding-left: -10%; */
    height:39vh;
}

.LogoContain1
{
margin-top: 5%;
}

.LogoContain
{
    width:80%;
    margin-left: 9.4%;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #aaaaaa,
                inset -7px -7px 13px #ffffff;
}


.FinalSection
{
    width:79.5%;
    margin-top: 9%;
    margin-left: 9.2%;
    /* border:0.1rem solid red; */
    display: flex;
    
}


.Section6SVGContain
{
    width:40%;
    /* border: 0.1rem solid red; */
}




.Section4
{
    background: #e0e0e0;
}

.Section4Heading
{
    position: absolute;
    margin-top:12% ;
    margin-left: 41%;
}

.CardCollection
{
    display: flex;
    position: relative;
    top:40vh;
    /* padding-left: 10%; */
    /* border:0.1rem dotted black; */
    justify-content: space-evenly;
}




.Section5Head
{
    margin-top: 32% !important;
    text-align: center;
}

.Logos
{
    display: flex;
    /* justify-content: space-evenly; */
    /* gap:2rem; */
    gap:4rem;
    padding-left: 3.5%;
    /* margin-top: 3.3%; */
    /* width: 60vw; */
    /* border: 0.1rem solid red; */
    height:39vh;
 
}

.LogoContain
{
    width:80%;
    margin-left: 9.4%;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 7px 7px 13px #aaaaaa,
                inset -7px -7px 13px #ffffff;
}


.FinalSection
{
    width:79.5%;
    margin-top: 9%;
    margin-left: 9.2%;
    /* border:0.1rem solid red; */
    display: flex;
    
}


.Section6SVGContain
{
    width:40%;
    margin-top: 2%;
    position: relative;
    left:-2%;
}

.FinalSectionInfo
{
    width:60%;
    padding:2%;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: inset 9px 9px 4px #b8b8b8,
            inset -9px -9px 4px #ffffff;
    transition: 1s;
}

.FinalSectionButton
{
    border:none;
    text-align: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    height:10%;
    width:20%;
    background: #e0e0e0;
    padding: 2%;
    transition: 1s;
    margin-right: 120%;
    margin-top: -5%;
}

.FinalSectionButton:hover
{
    transition: 2s;
    border-radius: 5px;
    background: #f1c40f;
    box-shadow:  12px 12px 20px #c39f0c,
                 -12px -12px 20px #ffe912;
}

span
{
    transition: 2s;
}

.FinalSectionInfo:hover
{
transition: 2s;
background-color:#f1c40f;

span
{
    color:#e0e0e0;
    transition: 1s;
}


.FinalSectionButton
{
    transition: 2s;
    background-color: #f1c40f;
}

}



.FinalSectionPara
{
    position: relative;
    top:-3vh;
}

.BigSVG
{
    margin-top: 7%;
    width:100%;
    /* border: 0.1rem solid red; */
    justify-content: center;
}

.FinalBox
{
    width:79.5%;
    margin-left: 10%;
    height:50vh;
    border-radius: 30px;
    box-shadow:  -11px 11px 18px #c3c3c3,
             11px -11px 18px #fdfdfd;
}